<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.windows.forms jitDebugging="false" />

	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="ListeningPort" value="8008" />
		<add key="UserName" value="Tecan" />
		<add key="Password" value="123123" />
		<add key="QueueSumplelingRate" value="5000" /> <!--in miliseconds -->
		<add key="StateSamplelingRate" value="5000" /> <!--in miliseconds -->
		<add key="RobotSamplelingRate" value="5000" /> <!--in miliseconds -->
	
 	</appSettings>

</configuration>
